.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    
    overflow: hidden;
    margin-top: 16px;

    margin-bottom: 40px;
  }
  @media (min-width: 1200px) {
    .carousel {
      width: 1200px;
    }
  }
  .carousel .left-button,
  .carousel .right-button {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    color: #fff;
    background-color: #333;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
  }
  .carousel .left-button:hover,
  .carousel .right-button:hover {
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
  }
  .carousel .left-button {
    top: 50%;
    left: 1px;
    transform: translate(0, -50%);
   
  }
  .carousel .right-button {
    top: 50%;
    right: 107px;
    transform: translate(0, -50%);
  }
  .carousel img {
    width: 80%;
    display: none;
    margin-right: 9%;
    
  }